<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">  <servlet>
    <servlet-name>LoginSlt</servlet-name>
    <servlet-class>me.lancer.cms.servlet.LoginSlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSlt</servlet-name>
    <url-pattern>/LoginSlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudioSlt</servlet-name>
    <servlet-class>me.lancer.cms.servlet.StudioSlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudioSlt</servlet-name>
    <url-pattern>/StudioSlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SeatSlt</servlet-name>
    <servlet-class>me.lancer.cms.servlet.SeatSlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatSlt</servlet-name>
    <url-pattern>/SeatSlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaySlt</servlet-name>
    <servlet-class>me.lancer.cms.servlet.PlaySlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaySlt</servlet-name>
    <url-pattern>/PlaySlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleSlt</servlet-name>
    <servlet-class>me.lancer.cms.servlet.ScheduleSlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleSlt</servlet-name>
    <url-pattern>/ScheduleSlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaleSlt</servlet-name>
    <servlet-class>me.lancer.cms.servlet.SaleSlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleSlt</servlet-name>
    <url-pattern>/SaleSlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeSlt</servlet-name>
    <servlet-class>me.lancer.cms.servlet.EmployeeSlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSlt</servlet-name>
    <url-pattern>/EmployeeSlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataDictSlt</servlet-name>
    <servlet-class>me.lancer.cms.servlet.DataDictSlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataDictSlt</servlet-name>
    <url-pattern>/DataDictSlt</url-pattern>
  </servlet-mapping>
  <display-name>Cinema-Management-System-Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>